body {
    margin: 0px;
}

/* header style */
.container {
    font-family: Merriweather;
    background-image: url("../images/Banner\ Image.png");
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 50px;

}

.banner-title {
    background-color: #070211;
    border-radius: 12px;
    border: 0px;
    color: white;
    padding: 126px 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner-first {
    text-align: center;
    font-size: 32px;
    margin-bottom: 0px;
}

.banner-second {
    margin-top: 0px;
    text-align: center;
    font-size: 72px;
    font-weight: 900px;
}

/* main section style */
.discount {
    text-align: center;
    color: #F00;
    font-family: Inter;
}

.percent {
    margin-bottom: 0;
    font-size: 88px;
}

.deals {
    margin-top: 48;
    margin-bottom: 0;
}

.categories {
    color: #070211;
    font-size: 48px;
    margin-top: 0;
    font-family: Inter;
}

.party {
    max-width: 1320px;
    background-image: url("../images/Vectorrr.png");
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 0px;
   
}

.content{
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 12px;
    border: 0px;
    justify-content: space-between;
    padding: 65px 50px;
}

.party-text {
    color: #FFF;
    font-size: 64px;
    max-width: 800px;
}

.midnight {
    margin-bottom: 0px;
    font-family: Merriweather;
}

.party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    margin-top: 24px;
    font-family: Inter;
}

/* button style */
.join-button {
    margin-top: 0;
    font-size: 20px;
    border-radius: 06px;
    text-transform: uppercase;
    border: 0px;
    font-family: Inter;
    cursor: pointer;
}

/* box color */
.information {
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 0px;
    margin-top: 120px;
    border-radius: 10px;
    font-family: Inter;
}

.info {
    font-size: 32px;
    margin: 0px;
}

.label {
    color: #F00;
}

.btn-primary {
    border-radius: 8px;
    background: #F00;
    margin-top: 48px;
    padding: 16px 32px;
    color: white;
    border: 1px solid #F00;
    font-size: 20px;
    cursor: pointer;
}

/* offer section */
.offer-info {
    display: flex;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    align-items: center;
    gap: 40px;
}

.offer {
    color: #F00;
    font-size: 24px;
    margin-bottom: 0px;
    font-family: Inter;
}

.comming-soon {
    color: #070211;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Merriweather;
}

.offer-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    margin-top: 20px;
    font-family: Inter;
}

.image-border {
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 50px;
}

.second-one {
    font-family: Inter;
}

.year2 {
    color: #F00;
    font-size: 48px;
    margin-bottom: 0px;
}

.year-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 43px;
}

/* sale section style */
.holiday-sale {

    text-align: center;
    margin-top: 0px;

}

.functional {
    color: #070211;
    font-size: 24px;
    margin-bottom: 0px;
    font-family: Inter;
}

.sale-persent {
    color: #F00;
    font-size: 72px;
    margin-top: 0px;
    margin-bottom: 28px;
    font-family: Merriweather;
}

.sale-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
    font-family: Inter;
}

/* discount section style */
.discount {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}

.images {
    display: flex;
    margin-top: 64px;
    flex-direction: column;
    align-items: end;
}

.rectangle-image {
    position: absolute;
    bottom: 0px;
}

.lady {
    height: 433px;
    width: 429px;
    margin-bottom: 0px;

}

.discount-image {
    position: absolute;
    top: 100px;
    right: 300px;
}

/* portfolio section style */
.portfolio {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
}

.best {
    color: #F00;
    font-size: 24px;
    margin-bottom: 0px;
    font-family: Inter;
}

.awesome {
    color: #070211;
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 0px;
    font-family: Merriweather;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    margin-top: 22px;
    font-family: Inter;
}

.six-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.pointer {
    cursor: pointer;

}

.subscribe {
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    padding: 80px 0px;
    text-align: center;
    margin-bottom: 0px;
}

/* subscribe section */
.newsletter {
    color: #070211;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 22px;
    font-family: Merriweather;
}

.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 48px;
    font-family: Inter;
}

.box-resize {
    padding: 20px 30px;
    border-radius: 20px;
    border: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-subscribe {
    background: #F00;
    border-radius: 0px 50px 50px 0px;
    padding: 20px 30px;
    border: 0px;
    color: white;
    margin-left: -4px;
    font-weight: 700;
    font-family: Inter;
    cursor: pointer;
}

/* footer section style */
footer {
    background: #070211;
    padding: 120px 0px;
    margin-top: 120px;
    color: #FFF;
    font-size: 24px;
    font-family: Inter;
}

.footer-part {
    max-width: 1320px;
    margin: 0px auto;
}

.address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icon {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.copyrights {
    display: flex;
    justify-content: space-between;
}